<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--<div>
  @for (employee of employees; track employee.id) {
    <div>{{employee.name}}</div>
  }
</div>-->
<body>
  <main>
    @for (employee of employees; track employee.id) {
      <section>
        <article>
          <figure>
            <img src="{{employee.imageUrl}}" alt="A picture of {{employee.name}}">
          </figure>
          <div class="name-occupation">
            <h4>{{employee.name}}</h4>
            <p>{{employee.jobTitle}}</p>
          </div>
        </article>
        <hr>
        <article>
          <p>Email : {{employee.email}}</p>
          <i class="fa fa-envelope"></i>
        </article>
        <hr>
        <article>
          <p>Phone : {{employee.phone}}</p>
          <i class="fa fa-phone"></i>
        </article>
        <hr>
        <article>
          <ul>
            <li><a><i class="fa-brands fa-facebook"></i></a></li>
            <li><a><i class="fa-brands fa-square-x-twitter"></i></a></li>
            <li><a><i class="fa-brands fa-skype"></i></a></li>
          </ul>
          <div class="buttons">
            <button><i class="fa fa-pencil"></i></button>
            <button><i class="fa fa-times"></i></button>
          </div>
        </article>
      </section>
    }
  </main>
</body>


