<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--<div>
  @for (employee of employees; track employee.id) {
    <div>{{employee.name}}</div>
  }
</div>-->

<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://kit.fontawesome.com/cc5de62bf7.js" crossorigin="anonymous"></script>
  <title>Employee Page</title></head>
<body>
  <main>
    @for (employee of employees; track employee.id) {
      <section>
        <article>
          <figure>
            <img src="{{employee.imageUrl}}" alt="A picture of {{employee.name}}">
          </figure>
          <h5>{{employee.name}}</h5>
          <p>{{employee.jobTitle}}</p>
        </article>
        <article>
          <p>Email : {{employee.email}}</p>
          <i class="fa fa-envelope"></i>
        </article>
        <article>
          <p>Phone : {{employee.phone}}</p>
          <i class="fa fa-phone"></i>
        </article>
        <article>
          <ul>
            <li><a><i class="fa-brands fa-facebook"></i></a></li>
            <li><a><i class="fa-brands fa-square-x-twitter"></i></a></li>
            <li><a><i class="fa-brands fa-skype"></i></a></li>
          </ul>
          <div class="buttons">
            <button><i class="fa fa pencil"></i></button>
            <button><i class="fa fa-times"></i></button>
          </div>
        </article>
      </section>
    }
  </main>
</body>
</html>


