<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--<div>
  @for (employee of employees; track employee.id) {
    <div>{{employee.name}}</div>
  }
</div>-->
<body>
  <main>
    @for (employee of employees; track employee.id) {
      <section>
        <article>
          <figure>
            <img src="{{employee.imageUrl}}" alt="A picture of {{employee.name}}">
          </figure><!--
       --><div class="name-occupation">
            <h4>{{employee.name}}</h4>
            <p>{{employee.jobTitle}}</p>
          </div>
        </article>
        <hr>
        <article>
          <p class="email">Email : {{employee.email}}</p><!--
       --><i class="fa fa-envelope"></i>
        </article>
        <hr>
        <article>
          <p class="phone">Phone : {{employee.phone}}</p><!--
       --><i class="fa fa-phone"></i>
        </article>
        <hr>
        <article>
          <div class="socials">
            <a><i class="fa-brands fa-facebook"></i></a>
            <a><i class="fa-brands fa-square-x-twitter"></i></a>
            <a><i class="fa-brands fa-skype"></i></a>
          </div><!--
       --><div class="buttons">
            <a class="pencil"><i class="fa fa-pencil"></i></a><!--
         --><a class="times"><i class="fa fa-times"></i></a>
          </div>
        </article>
      </section>
    }
  </main>
</body>


